html {
  -webkit-text-size-adjust: 100%;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#values_wrap {
  display: table;
  height: 95%;
  width: 100%;
  color: #333;
}

#core_value {
  display: table-cell;
  text-align: center;
  font: 4rem/1.4 Helvetica Neue, Helvetica, Arial, sans-serif;
  vertical-align: middle;
  margin: 0;
  padding: 0 1em;
}

@media (max-width: 768px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 8px;
  }
}
